apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: journal-implementation
  labels:
    app: notification-service 
spec:
  selector:
    app: notification-service
  ports:
    - name: metrics   
      protocol: TCP
      port: 8003
      targetPort: 8003
  type: ClusterIP
